html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9FAFF;
}

body, p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --site-width: 1000px;
}

.con {
    width: var(--site-width);
    margin: auto;
}

.container {
    height: 2000px;
}

.white-bar {
    background-color: #F9FAFF;
    top: 0;
    height: 35px;
    position: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    position: fixed;
    top: 1em;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    border: 2px solid #353767 ;
    border-radius: 20px;
    width: 500px;
    box-shadow: -2px 3px 3px -2px gray;
    background-color: white;
}

.search-bar > i {
    font-size: 18px;
}

input {
    border: none;
    outline: none;
    width: 470px;
}

.user-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.side-bar {
    position: fixed;
    background-color: #353767;
    width: 70px;
    min-height: 90vh;
    margin-top: calc((100vh - 90vh) / 2);
    top: -20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar > ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.side-bar > ul > li {
    font-size: 25px;
    color: white;
    position: relative;
}

.side-bar > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar > ul ul {
    display: none;
}

.side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    top: 0%;
    left: 180%;
    width: 100%;
    color: black;
    font-weight: bold;
}

.side-bar > ul ul > li {
    font-size: 17px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

.stream {
    display: flex;
    background-color: #353767;
    width: 519.2px;
    min-height: 200px;
    border-radius: 15px;
    margin-right: 110px;
    color: white;
    align-items: center;
    justify-content: center;
}

.noti {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 519.2px;
    margin-right: 110px;
}

.notice-box {
    background-color: white;
    height: 200px;
    border-radius: 25px;
    margin-top: 1.3em;
    box-shadow: 0px 0px 3px -2px gray;
}

.commu {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 519.2px;
    margin-right: 110px;
}

.community-box {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: white;
    min-height: 100px;
    border-radius: 25px;
    margin-top: 1.3em;
    box-shadow: 0px 0px 3px -2px gray;
}

.community-box__writer {
    margin-top: 0.5em;
    color: #010101;
    width: 33.3%;
}

.community-box__title {
    margin-top: 0.5em;
    color: #010101;
    width: 33.3%;
}

.community-box__Date {
    margin-top: 0.5em;
    color: #010101;
    width: 33.3%;
}
